---
generic-service:
  replicaCount: 2

  ingress:
    host: historical-prisoner-api-dev.prison.service.justice.gov.uk
    className: modsec-non-prod

  env:
    APPLICATIONINSIGHTS_CONFIGURATION_FILE: "applicationinsights.dev.json"
    HMPPS_AUTH_URL: "https://sign-in-dev.hmpps.service.justice.gov.uk/auth"
    DATABASE_NAME: "iis-dev"
    SPRINGDOC_API-DOCS_ENABLED: "true"
    SPRINGDOC_SWAGGER-UI_ENABLED: "true"

  scheduledDowntime:
    enabled: true
    startup: '32 6 * * 1-5' # Start at 6.32am UTC Monday-Friday
    shutdown: '42 21 * * 1-5' # Stop at 9.42pm UTC Monday-Friday

generic-prometheus-alerts:
  businessHoursOnly: true
  alertSeverity: syscon-nonprod
  rdsAlertsDatabases:
    cloud-platform-ddb6945a92970e78: "historical prisoner"
